{{$frequency := raw_value_of .ResourceValue .Meta}}

<div class="qor-fieldset" data-toggle="qor.metas.frequency">
  <div class="qor-form-section-rows qor-section-columns-2 clearfix">
    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label" for="{{.InputId}}">
          {{meta_label .Meta}}
        </label>

        <div class="qor-field__show">
          {{.Value}}
        </div>

        <select class="qor-field__input qor-frequency__selector" data-toggle="qor.chooser" name="{{.InputName}}.IntervalUnit">
          <option value="once" {{if eq $frequency.IntervalUnit "once"}}selected{{end}}>once</option>
          <option value="daily" {{if eq $frequency.IntervalUnit "daily"}}selected{{end}}>daily</option>
          <option value="weekly" {{if eq $frequency.IntervalUnit "weekly"}}selected{{end}}>weekly</option>
          <option value="monthly" {{if eq $frequency.IntervalUnit "monthly"}}selected{{end}}>monthly</option>
        </select>
      </div>
    </div>

    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label" for="{{.InputId}}">
          Active for
        </label>

        <div class="qor-field__show">
          {{.Value}}
        </div>

        <select class="qor-field__input qor-frequency__activefor" data-toggle="qor.chooser" name="{{.InputName}}.ActiveMonths">
          <option value="forever" {{if eq $frequency.ActiveMonths "forever"}}selected{{end}}>Forever</option>
          <option value="1" {{if eq $frequency.ActiveMonths "1"}}selected{{end}}>1 month</option>
          <option value="3" {{if eq $frequency.ActiveMonths "3"}}selected{{end}}>3 months</option>
          <option value="6" {{if eq $frequency.ActiveMonths "6"}}selected{{end}}>6 months</option>
          <option value="12" {{if eq $frequency.ActiveMonths "12"}}selected{{end}}>12 months</option>
        </select>
      </div>
    </div>
  </div>

  <div class="qor-frequency__monthly">
    <div class="qor-field">
      <div class="mdl-textfield mdl-js-textfield">
        <label class="qor-field__label">
          Day of month
        </label>

        <div class="qor-field__show">
        </div>

        <select class="qor-field__input" data-toggle="qor.chooser" name="{{.InputName}}.MonthDay">
          <option value="3" {{if eq $frequency.MonthDay 3}}selected{{end}}>3</option>
          <option value="15" {{if eq $frequency.MonthDay 15}}selected{{end}}>15</option>
        </select>
      </div>
    </div>
  </div>

  <div class="qor-frequency__weekly" style="display:;">
    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label">
          Day of week
        </label>

        <div class="qor-field__show">
        </div>

        <select class="qor-field__input qor-frequency__weekly--input" style="display: none;" name="{{.InputName}}.WeekDay">
          <option value="1" {{if eq $frequency.WeekDay 1}}selected{{end}}>Mon</option>
          <option value="2" {{if eq $frequency.WeekDay 2}}selected{{end}}>Tue</option>
          <option value="3" {{if eq $frequency.WeekDay 3}}selected{{end}}>Wed</option>
          <option value="4" {{if eq $frequency.WeekDay 4}}selected{{end}}>Thu</option>
          <option value="5" {{if eq $frequency.WeekDay 5}}selected{{end}}>Fri</option>
          <option value="6" {{if eq $frequency.WeekDay 6}}selected{{end}}>Sat</option>
          <option value="0" {{if eq $frequency.WeekDay 0}}selected{{end}}>Sun</option>
        </select>

        <ul class="qor-frequency__week clearfix">
          <li value="1" {{if eq $frequency.WeekDay 1}}selected{{end}}>Mon</li>
          <li value="2" {{if eq $frequency.WeekDay 2}}selected{{end}}>Tue</li>
          <li value="3" {{if eq $frequency.WeekDay 3}}selected{{end}}>Wed</li>
          <li value="4" {{if eq $frequency.WeekDay 4}}selected{{end}}>Thu</li>
          <li value="5" {{if eq $frequency.WeekDay 5}}selected{{end}}>Fri</li>
          <li value="6" {{if eq $frequency.WeekDay 6}}selected{{end}}>Sat</li>
          <li value="0" {{if eq $frequency.WeekDay 0}}selected{{end}}>Sun</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{javascript_tag "frequency"}}
{{stylesheet_tag "frequency"}}
