{{$dateRange := raw_value_of .ResourceValue .Meta}}

<div class="qor-fieldset" data-toggle="qor.metas.daterange">
  <div class="qor-field">
    <div class="mdl-textfield mdl-js-textfield">
      <label class="qor-field__label">
        {{meta_label .Meta}}
      </label>

      <div class="qor-field__show">
        {{.Value}}
      </div>

      <select class="qor-field__input qor-daterange__selector" data-toggle="qor.chooser" name="{{.InputName}}.Type">
        <option value="custom" {{if eq $dateRange.Type "custom"}}selected{{end}}>custom</option>
        <option value="today" {{if eq $dateRange.Type "today"}}selected{{end}}>today</option>
        <option value="yesterday" {{if eq $dateRange.Type "yesterday"}}selected{{end}}>yesterday</option>
        <option value="last_week" {{if eq $dateRange.Type "last_week"}}selected{{end}}>last week</option>
        <option value="last_month" {{if eq $dateRange.Type "last_month"}}selected{{end}}>last month</option>
        <option value="last_7_days" {{if eq $dateRange.Type "last_7_days"}}selected{{end}}>last 7 days</option>
        <option value="last_30_days" {{if eq $dateRange.Type "last_30_days"}}selected{{end}}>last 30 days</option>
      </select>
    </div>
  </div>

  <div class="qor-form-section-rows qor-section-columns-2 clearfix qor-daterange__inputs">
    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label mdl-textfield__label">from</label>
        <div class="qor-field__edit qor-field__datepicker" data-picker-type="date">
          <input class="mdl-textfield__input qor-datepicker__input" placeholder="{{meta_placeholder .Meta .Context " YYYY-MM-DD "}}" type="text" id="{{.InputId}}" name="{{.InputName}}.From" value="{{if $dateRange.From}}{{$dateRange.From.Format "2006-01-02"}}{{end}}" {{if  (not (has_change_permission .Meta)) }} disabled{{end}}>

          <div>
            <button data-toggle="qor.datepicker" class="mdl-button mdl-js-button mdl-button--icon qor-action__datepicker" type="button">
              <i class="material-icons">date_range</i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label mdl-textfield__label">to</label>
        <div class="qor-field__edit qor-field__datepicker" data-picker-type="date">
          <input class="mdl-textfield__input qor-datepicker__input" placeholder="{{meta_placeholder .Meta .Context " YYYY-MM-DD "}}" type="text" id="{{.InputId}}" name="{{.InputName}}.Until" value="{{if $dateRange.Until}}{{$dateRange.Until.Format "2006-01-02"}}{{end}}" {{if  (not (has_change_permission .Meta)) }} disabled{{end}}>

          <div>
            <button data-toggle="qor.datepicker" class="mdl-button mdl-js-button mdl-button--icon qor-action__datepicker" type="button">
              <i class="material-icons">date_range</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{javascript_tag "daterange"}}
